index.json
{
  "name": "Slashdot RSS summarize or Google Sheets",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.link && $json.title ? `\"${$json.content.slice(0,240)}...\"` : $json.content.slice(0,280) }}\n\n{{ $json.link? \"Link below\": \"\" }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        80,
        256
      ],
      "id": "ef163910-975c-421c-b16b-12c3c07a56dc",
      "name": "Create Tweet"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        256
      ],
      "id": "c5695a7f-eaa2-4eae-a4a1-9e2609985813",
      "name": "Wait some time",
      "webhookId": "4a97eabc-37c1-4f4e-848f-f02a765473f5"
    },
    {
      "parameters": {
        "person": "K9abfFSC7U",
        "text": "={{ $json.link && $json.title ? `\"${$json.content.slice(0,260)}...\"` : $json.content }}",
        "shareMediaCategory": "={{ $json.link && $json.title ? \"ARTICLE\" : \"NONE\" }}",
        "additionalFields": {
          "originalUrl": "={{ $json.link }}",
          "title": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        80,
        64
      ],
      "id": "6152392d-0856-4afa-b04f-d12688d66ca3",
      "name": "Create a post"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98fdec9f-3ad4-4123-ae35-4ec07ff0ce37",
              "leftValue": "={{ $json.published }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -592,
        512
      ],
      "id": "e3ec92e3-c586-4b7d-97f8-b58086b51228",
      "name": "Discard already published"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8",
          "mode": "list",
          "cachedResultName": "n8n-social-media-workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "published": "1"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        512
      ],
      "id": "b7eaeb85-6475-4ab6-8c03-8cdb6972d864",
      "name": "Mark row as published"
    },
    {
      "parameters": {
        "content": "## Post using Google Sheets\n",
        "height": 240,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -944,
        448
      ],
      "typeVersion": 1,
      "id": "339e3f07-9bee-48fe-b6d8-4291958e423a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Social media",
        "height": 416,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2f5c65f0-3cf5-47e5-a40a-ad31f208f81c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 60,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://rss.slashdot.org/Slashdot/slashdotMain"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        320
      ],
      "id": "8f10eada-8758-41bf-8e75-073a9c34252f",
      "name": "Slashdot RSS Feed Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67abaa04-59ca-4958-a3c8-f6755a67fda8",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "python",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b94ad436-9b9b-4f3d-bae7-8e0da520f6cf",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "javascript",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1d0c1f77-fe3b-40ea-bfa8-eeef98927181",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "typescript",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ed2e0f68-1359-4b09-a861-55e0cd53dfa4",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "linux",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "77b62f12-f885-42ed-ab20-60fa5cc14d95",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "golang",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0ad35f44-9352-4455-81d7-f090be4e220c",
              "leftValue": "={{ $json.content}}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5ab5659b-f03c-4666-a75b-c26d4c028bd2",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "programming",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        320
      ],
      "id": "78585fa3-b1ef-4b95-9679-6eb9789aa752",
      "name": "If relevant content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02042b7d-31ea-4738-98fb-8e3561f3882a",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "python",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d50862be-4753-412d-9d82-7b6cab164e0a",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "programming",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d3611372-a912-4904-916d-1006bb3720a0",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "javascript",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f691d32a-61cc-469c-89c1-5ca03c7e38c7",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "golang",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "38e8098c-3753-4a29-933b-618ccb61bd56",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "linux",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0a5e014d-b257-4cc9-8635-15cb37b76b37",
              "leftValue": "={{ $json.content.toLowerCase() }}",
              "rightValue": "typescript",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6188ef44-4ca2-458f-8561-255034fe4467",
              "leftValue": "={{ $json.content }}",
              "rightValue": "AI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -816,
        304
      ],
      "id": "8c356656-ea87-4da1-b52d-0183c870cccd",
      "name": "Filter relevant content"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8",
          "mode": "list",
          "cachedResultName": "n8n-social-media-workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ue_4InOkCpQba4LGl08xSJyIuwfZfjvhVlj5wsmlcV8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        512
      ],
      "id": "e599ae88-92a6-49d8-9672-0e47cc28294c",
      "name": "Read Content to Post Google Sheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -384,
        512
      ],
      "id": "e29ab760-fa63-4cca-b040-40b5d2fefda3",
      "name": "Limit to one"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.googleSheet = true;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        512
      ],
      "id": "71afb124-7d0c-4eac-9d11-9415de563ba8",
      "name": "Add googleSheet Property"
    },
    {
      "parameters": {
        "text": "={{ $('Filter relevant content').item.json.link }}",
        "additionalFields": {
          "inReplyToStatusId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        496,
        256
      ],
      "id": "b2d2f3f9-432a-4c62-afc2-01f24018df0e",
      "name": "Reply post with link"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://inference.do-ai.run/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai-gpt-5-nano"
            },
            {
              "name": "messages",
              "value": "={{[{\"role\":\"user\",\"content\":\"You're an expert writer and editor. Could you please provide a concise and comprehensive summary of the given text? The summary should capture the main points and key details of the text while conveying the author's intended meaning accurately. Please ensure that the summary is well-organized and easy to read, with clear headings and subheadings to guide the reader through each section. The length of the summary should be appropriate to capture the main points and key details of the text, without including unnecessary information or becoming overly long. The length of the summary should be as short as possible under 250 characters. Also don't use any introductory phrases that may lead to the reader to know the text is AI produced, pretend you're commenting the article that you just read. Don't offer any recommendation at the end. Keep it as short as possible. The text is the following: \" + $json.content.replace(/<[^>]*>?/gm, '') }]}}"
            }
          ]
        },
        "options": {
          "timeout": 50000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        160
      ],
      "id": "f5b911ee-2abf-4f7f-a6ef-17f3be07a92d",
      "name": "Summary Using DO's AI models",
      "credentials": {
        "httpBearerAuth": {
          "id": "GdBEetfikbnq8idW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n  item.json.title = $('Filter relevant content').first().json.title\n  item.json.content = $input.first().json.choices[0].message.content\n  item.json.link = $('Filter relevant content').first().json.link\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        160
      ],
      "id": "771890c2-fadf-4fe2-b3b2-7384d434edc9",
      "name": "Standarize AI Response"
    },
    {
      "parameters": {
        "content": "## AI summary\n",
        "height": 272,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        96
      ],
      "id": "5cc869f1-ce83-4ce5-b7fc-c3056a692b10",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {
    "Summary Using DO's AI models": [
      {
        "json": {
          "choices": [
            {
              "finish_reason": "stop",
              "index": 0,
              "logprobs": null,
              "message": {
                "content": "Overview\nTIOBE ranks popularity by engineers, courses, vendors.\nSept Top 8: Python, C++, C, Java, C#, JavaScript, Visual Basic, Go.\nPerl up to #10; Delphi #9; Python #1 (~25.98%). Raku at 129; Perl 5 growth via text processing/CPAN.",
                "reasoning_content": null,
                "refusal": null,
                "role": "assistant"
              }
            }
          ],
          "created": 1757829819,
          "id": "",
          "model": "openai-gpt-5-nano",
          "object": "chat.completion",
          "usage": {
            "completion_tokens": 2898,
            "prompt_tokens": 866,
            "total_tokens": 3764
          }
        }
      }
    ]
  },
  "connections": {
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Wait some time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait some time": {
      "main": [
        [
          {
            "node": "Reply post with link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard already published": {
      "main": [
        [
          {
            "node": "Limit to one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slashdot RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "If relevant content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If relevant content": {
      "main": [
        [
          {
            "node": "Filter relevant content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Content to Post Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter relevant content": {
      "main": [
        [
          {
            "node": "Summary Using DO's AI models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content to Post Google Sheet": {
      "main": [
        [
          {
            "node": "Discard already published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to one": {
      "main": [
        [
          {
            "node": "Add googleSheet Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add googleSheet Property": {
      "main": [
        [
          {
            "node": "Mark row as published",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Using DO's AI models": {
      "main": [
        [
          {
            "node": "Standarize AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standarize AI Response": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49e867ef-1f38-4317-9fa6-711cf8b88ecc",
  "meta": {
    "instanceId": "b2ac62432dd0864a5526b929b70d4a6bddf185d41cbbc2dcda064820b7dc396a"
  },
  "id": "6lAPVocwrYKKImig",
  "tags": []
}
